<%= render 'partials/navbar_admin' %><br>

<div class="container">

  <h5><%= link_to "Create a New Merchant", new_admin_merchant_path %></h5>

  <div class="row">
    <div class="column";>
      <div class="enabled-merchants">
        <h2> Status: Enabled </h2>
        <ul><% @enabled_merchants.each do |merchant| %>
          <div id="enabled-merchants-<%= merchant.id %>">
          <li><h4><%= link_to "#{merchant.name}", admin_merchant_path(merchant) %></h4>
          <%= button_to "Disable", admin_merchant_path(merchant), method: :patch, params: { status: 'disabled' }, class: "btn btn-danger btn-sm" %></li><br>
          </div>
        <% end %></ul>
      </div>
      <hr><br>

      <div class="disabled-merchants">
        <h2> Status: Disabled </h2>
        <ul><% @disabled_merchants.each do |merchant| %>
          <div id="disabled-merchants-<%= merchant.id %>">
          <li><h4><%= link_to "#{merchant.name}", admin_merchant_path(merchant) %></h4>
          <%= button_to "Enable", admin_merchant_path(merchant), method: :patch, params: { status: 'enabled' }, class: "btn btn-success btn-sm" %></li><br>
          </div>
        <% end %></ul>
      </div>
    </div>

    <div class="column">
      <div id="top-five-merchants">
        <h2 align="center";">Top 5 Merchants</h2>
        <hr><br>
        <ol>
          <% @merchants.top_five_merchants_by_revenue.each do |merchant| %>
          <h5><li> <%= "#{merchant.name}"%> Revenue: <%= number_to_currency(merchant.revenue)%> </li></h5><br>
          <p> <i> Top selling date for <%= merchant.name %> was <%= merchant.best_day.strftime("%A, %b %d") %> </i> </p>
          <% end %>
        </ol>
      </div>
    </div>
  </div>

</div>
