<%= render 'partials/navbar_merchant' %><br>

<div class="container">

  <div class="row">

    <div class="column" align="center";>
      <h1>Active Discounts</h1><hr>
      <h5><%= link_to "Create New Discount", new_merchant_discount_path(@merchant, @discount), class: "btn btn-primary" %></h5><br>

      <% @discounts.each do |discount| %>
        <div id="discount-<%= discount.id %>">
          <% if discount.name != nil %>
            <h4><%= link_to "#{discount.name} | #{discount.percentage}% Holiday Discount", merchant_discount_path(@merchant, discount.id) %></h4>
            <h5>Quantity: <%= discount.quantity_threshold %></h5>
            <%= button_to "Remove Discount", merchant_discount_path(@merchant, discount.id), method: :delete %><br><br>
          <% else %>
            <h4><%= link_to "#{discount.percentage}% Discount", merchant_discount_path(@merchant, discount.id) %></h4>
            <h5>Quantity: <%= discount.quantity_threshold %></h5>
            <%= button_to "Remove Discount", merchant_discount_path(@merchant, discount.id), method: :delete %><br><br>
          <% end %>
        </div>
      <% end %>
    </div>

    <br><hr><br>

    <div class="column" align="center";>

      <div class="next_holidays">
        <h1 class="display-5">Upcoming Holidays</h1><br>
        <% @holidays.each do |holiday| %>
          <div id="holiday-<%= holiday.name %>">
          </div>
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title"><h3><%= holiday.name %></h3></h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <h5><%= link_to "Create Holiday Discount", new_merchant_discount_path(@merchant, name: holiday.name), class: "btn btn-primary" %></h5><br></a>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
